:root {
  background-color: #333;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding-bottom: 3rem;
}

main, footer {
  margin: auto;
  max-width: 42rem;
}

a:link { color: #ee5622; }
a:visited { color: #ee5622; }
a:hover { color: #eee; }
a:active { color: #eca72c; }

footer {
  font-size: .6rem;
  margin: auto;
  border-top: 1px solid #eee;
}

nav {
  background-color: #2a2a2d;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  height: 3rem;
  padding: 0 0.5rem;
}

nav svg {
  height: 2rem;
  width: 2rem;
  fill: currentColor;
  vertical-align: middle;
}

nav a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #eee;
}

nav a:link, nav a:visited { color: #eee; }
nav a:hover, nav a:active { color: #ee5622; }
